html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Latency Monitor
        link(rel="stylesheet", href="../assets/styles/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
        link(rel="stylesheet", href="../assets/styles/styles.css")
    body.latency-monitor
        block content

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="../assets/scripts/bootstrap.min.js")  
