if (errors && errors.length > 0)
    div.alert.alert-danger(role="alert")
        for error in errors
            span= error.message

if (errorMsg && errorMsg.length)
    div.alert.alert-danger(role="alert")
        span= errorMsg

if (successMsg && successMsg.length)
    div.alert.alert-success(role="alert")
        span= successMsg        
