*{
    font-family: 'Montserrat', sans-serif;
}

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.auth .form{
    width: 90%;
    max-width: 400px;
    background: #FFFFFF;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 30px 20px;
}

p.register-now{
    float: right
}

.content{
    padding-top: 50px;
}